
body {
    margin: 0;
    font-family: sans-serif;

}
.efeito-vidro {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 20px 0 20px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: -1;
  }

:root{
    --bege:#FFF3E3;
    --branco: #FFFFFF;
    --maronzin: #B88E2F;
}

/* HEADER */
.header{
    background-color: rgba(255,255,255,0.8);;
    border-bottom: 3px solid;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: none;

}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo{
    color: #000000;
    letter-spacing: 5px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-between; 
    list-style: none;
    width: 300px;

}

.coracao{
    width: 25px;
    height: 25px;

}

.navbar a{

    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #000000; 

}

.agora{
    font-weight: bolder;    
}

/* BANNER */

.banner{
    height: 700px;
    width: 100%;
    background-image: url("../img/images.jpg");
    background-size: cover;
}

.banner .container{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 50px;
    justify-content: start;
    align-items: center;
}

.banner .container p {

    width: 550px;
    margin: 0;
    color: white;
    font-size: 40px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;


}

.banner .container span {
    font-weight: bolder;
}



/* MISSÃO VISSÃO E VALORES */

.social{
    height: 600px;
    width: 100%;
    background-color: var(--maronzin);
}

.social .container{
    height: 100%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.box{
    display: flex;
    width: 810px;
    height: 600px;
    background-color: var(--bege);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    padding-left: 15px;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    
    
}

.box1{
    width: 850px;
    height: 600px;
    background-color: greenyellow;
}

.box img {
    width: 750px;
    height: 550px;
    margin-right: 15px;
}

.box h1{
    font-size: 45px;
    color: var(--maronzin);
}
.box p{
    font-size: 16px;
}

/* FOOTER */

.footer{
    margin-top: 70px;
    height: 120px;
    width: 100%;
    background-color: var(--bege);
}

.footer .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--maronzin);
    border-top: 3px solid var(--maronzin);
}

.footer h4{
    margin-bottom: 0;
}


/* CSS TELA LOGIN */

.login{
    height: 510px;
    width: 100%;
}


.login .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: auto;
}

.login .card-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 100%;
    max-width: 560px;
    background-color: #dcdcdc;
    color: #e4005a;
    border-radius: 10px;
} 

.login .card-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    max-width: 560px;
    background-color: #dcdcdc;
    color: #e4005a;
    border-radius: 10px;
} 

h2 {
    margin-bottom: 0px;
}

.login .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login .formulario .campo{

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    max-width: 480px;
    padding: 5px;
    font-weight: bolder;
    font-size: 14px;
}

#email_input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    border-color: var(--azul);
}

#senha_input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    border-color: var(--azul);
}

#codigo_input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    border-color: var(--azul);
}

#nome_input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    border-color: var(--azul);
}

#confirmacao_senha_input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    border-color: var(--azul);
}

.botao{
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    background-color:#e4005a;
    font-weight: bolder;
    color: white;
    border: none;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}
